body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem)
}

html:lang(ar) * {
  text-align: right;
}
